.body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.page-nav {}
.first section {
    background-color: #2E2F42;
    color: white;
}
.second-section .title {
    color: #2E2F42;

}
.second-section .text {
    color: #434455;
}